@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body {
  font-family: 'Galada', cursive;
  font-size: 22px;
  color: #ffffff;
}

.normal-body {
   background-color: #a87ca0;
}

.video-body {
  background-color: #000000;
  margin: 0;
}

.unmute-button {
  font-family: 'Galada', cursive;
  color: #ffffff;
  height: 100px; 
  width: 200px;
  background-color: indigo;
  position: absolute;
  top: 50%;
  left: 20%;
}

.not-visible {
  display: none;
}
