.unmute-button {
  font-family: 'Galada', cursive;
  color: #ffffff;
  height: 100px; 
  width: 200px;
  background-color: indigo;
  position: absolute;
  top: 50%;
  left: 20%;
}

.vip-video {
  position: relative;
  top: 12.5%;
  height: 75%;
}


.vip-video-container {
  height: 100vh;
}

.not-visible {
  display: none;
}

.vip-invitation {
  text-align: center;
}